.DS_Store
rmb-csharp-asp-demo/bin/[^.]*
rmb-csharp-asp-demo/obj/[^.]*
rmb-csharp-asp-demo/rmb-csharp-asp-demo.suo
rmb-csharp-asp-demo/rmb-csharp-asp-demo.userprefs
rmb-csharp-asp-demo/rmb-csharp-asp-demo.pidb
